image: node:8.11.3
pages:
  stage: deploy
  script:
  - rm -R dist || true
#  - rm -R node_modules
  - npm install
  - chmod a+x node_modules/.bin/*
#  - npm run tsc  
#  - npm run test
#  - mkdir build-web
#  - node build-node/packGameData.js
  - npm run build
  - mv dist public
  artifacts:
    paths:
    - public
  only:
  - master
