<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>  
    
    <%- include /src/ejs/analytics %>
    
  </head>
  <body>
      <div id="monkeyLogs"></div>
      <div id="root"></div>

      <div class="text-center">
        <%# - include /src/ejs/facebook %>
      </div>
  </body>
</html>
