<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>  
    
    <%- include /src/ejs/analytics %>
    
  </head>
  <body>
      <div id="monkeyLogs"></div>
      <div id="root"></div>

      <div class="text-center">
        <%# - include /src/ejs/facebook %>
      </div>
      
      
<!-- giosg tag -->
<script>
(function(w, t, f) {
  var s='script',o='_giosg',h='https://service-staging.giosg.com',e,n;e=t.createElement(s);e.async=1;e.src=h+'/live/';
  w[o]=w[o]||function(){(w[o]._e=w[o]._e||[]).push(arguments)};w[o]._c=f;w[o]._h=h;n=t.getElementsByTagName(s)[0];n.parentNode.insertBefore(e,n);
})(window,document,122);
</script>
<!-- giosg tag -->

  </body>
</html>
