<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>  
    
    <%- include src/analytics %>
    
  </head>
  <body>
      <div id="monkeyLogs"/>
      <div id="root"/>  
  </body>
</html>